body {
  @include fontize_god($god-body, "none", "none", $god-p);
  line-height: 1.5;

  small {
    font-size: 80%;
  }

  code {
    @include colorize_god($god-blushed, black);
    padding: 0 $inline-padding;
    word-break: keep-all;
  }
}

#{$container} {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include fontize_god($god-head);
  }
  @import "address/hell";
  @import "article/pillar";
  @import "aside/hell";
  @import "blockquote/heaven";
  @import "figure/heaven";
  @import "footer/pillar";
  @import "pre/pillar";
  @import "button/pillar";
  @import "h1/pillar";

  @import "header/atheist";
  @import "menu/atheist";
  @import "section/atheist";
  @import "img/atheist";
}
