aside {
  @include colorize_god($god-blushed, $heaven-color);
  font-size: $god-p;
  font-style: italic;
  font-weight: normal;
  text-align: left;
  dl {
    padding: 0;
    margin: 0;
    dd {
      font-size: calc($god-p * 0.7);
      margin: 0;
      padding: $inline-padding;
      padding-left: 22px;
        text-indent: -22px;
    }
    dt {
      padding: 0;
      margin: 0;
    }
  }
  @media (max-width: $god-tight) {
    font-size: $god-spoke;
  }
}
