footer {
  border: none;
  border-top: $pillar-color solid 2px;
  font-size: 0.75rem;
  margin-top: $god-space;
  padding: $god-space;
  text-align: center;
  img {
    height: auto;
    max-width: 100%;
  }
  label {
    white-space: nowrap;
  }
}
