section {
  @include colorize_god($god-blushed, $pillar-color);
  align-items: stretch;
  box-sizing: border-box !important;
  display: flex;
  flex: initial;
  flex-direction: row;
  justify-content: space-between;
  padding: $god-space;
  text-align: center;
  width: 100%;

  > figure {
    @include colorize_god(white, $pillar-color);
    border: $god-border;
    border-radius: $personal-space;
    box-sizing: border-box !important;
    margin: $personal-space;
    padding: $personal-space;
    width: 27%;
    p img {
      width: auto;
      height: auto;
    }
    p button {
      font-weight: bold;
    }
    > img {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: $god-tight) {
    align-items: center;
    flex-direction: column;

    figure {
      width: 90%;
    }
  }
}
