menu {
  @include colorize_god($heaven-color, $god-blushed);
  @include innocent_menus(12px, 48px);

  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  position: sticky;
  position: -webkit-sticky;
  padding-left: 0;
  top: 0;
  z-index: 5000;

  // Flex version to vertical align menu items.
  flex: initial;
  justify-content: space-between;
  align-items: center;
  display: flex;

  a,
  nav {
    // Flex version to vertical align menu items.
    flex-grow: 0;
  }

  a,
  label {
    color: $god-blushed;
    border-radius: 6px;

    &:hover {
      background-color: white;
      color: black;
    }

    &[active] {
      background-color: white;
      color: black;
    }
  }

  > nav {
    > a,
    > label {
      border-radius: 0;
    }
  }

  nav > nav {
    a,
    label {
      margin: $inline-padding;
      padding: $personal-space;
    }
    @include colorize_god($heaven-color, $god-blushed);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-top: $personal-space;
  }

  @include tight {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    nav > nav,
    menu > menu {
      padding: $inline-padding;
      a,
      label {
        font-size: 0rem !important;
        height: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
      }
    }

    > nav:hover > nav,
    > menu:hover > menu {
      border: $god-border;
      border-radius: 0 0 $inline-padding $inline-padding;
      border-top: 0;
      z-index: 100000;
      img {
        max-height: 36px;
      }
      a,
      label {
        font-size: 0.9rem !important;
        height: auto !important;
        margin: $inline-padding !important;
        padding: $inline-padding !important;
      }
    }

    > a {
      flex-grow: 2;
      padding: 6px;
    }
  }
}
