@charset "UTF-8";

/* god theme: Call me to include god in your SASS projects.*/

body > h1 {
  font-size: 4vmax;
}

body > h2 {
  font-size: 3.2vmax;
}

body > h3 {
  font-size: 2.7vmax;
}

body > h4 {
  font-size: 2.3vmax;
}

body > h5 {
  font-size: 2.2vmax;
}

body > h6 {
  font-size: 2vmax;
}

body > h2,
body > h3,
body > h4,
body > h5,
body > h6,
body > p,
body > dl,
body > ul,
body > ol,
body > pre,
body > div,
body > article,
body > button,
body > h1 {
  box-sizing: border-box;
  display: block;
  float: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: 30% !important;
  margin-right: 30% !important;
  padding: 18px 2%;
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  body > h2,
  body > h3,
  body > h4,
  body > h5,
  body > h6,
  body > p,
  body > dl,
  body > ul,
  body > ol,
  body > pre,
  body > div,
  body > article,
  body > button,
  body > h1 {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 15% !important;
    margin-right: 15% !important;
  }
}

@media screen and (max-width: 800px) {
  body > h2,
  body > h3,
  body > h4,
  body > h5,
  body > h6,
  body > p,
  body > dl,
  body > ul,
  body > ol,
  body > pre,
  body > div,
  body > article,
  body > button,
  body > h1 {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 18px !important;
    margin-right: 18px !important;
    padding: 6px;
  }
}

body > address,
body > blockquote {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 18px 2%;
  width: 28% !important;
  break-before: always !important; /* give way on right */
  clear: right;
  float: right;
  margin-left: 2% !important;
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  body > address,
  body > blockquote {
    width: 31.8% !important;
  }
}

@media screen and (min-width: 1301px) {
  body > address,
  body > blockquote {
    width: 26.86% !important;
  }
}

body > aside,
body > figure,
body > nav {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 18px 2%;
  width: 28% !important;
  clear: left;
  float: left;
  margin-right: 2% !important;
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  body > aside,
  body > figure,
  body > nav {
    full: 3.8%;
    width: 31.8% !important;
  }
}

@media screen and (min-width: 1301px) {
  body > aside,
  body > figure,
  body > nav {
    full: 3.8%;
    width: 26.86% !important;
  }
}

@media screen and (max-width: 800px) {
  body > address,
  body > blockquote,
  body > aside,
  body > figure,
  body > nav {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 18px 2%;
    width: 100% !important;
    display: block !important;
    float: none !important;
    text-align: left;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  body > address,
  body > blockquote,
  body > aside,
  body > figure,
  body > nav {
    margin-bottom: 23.4px !important;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  body > address,
  body > blockquote,
  body > aside,
  body > figure,
  body > nav {
    margin-bottom: 28.8px !important;
  }
}

@media screen and (min-width: 1301px) {
  body > address,
  body > blockquote,
  body > aside,
  body > figure,
  body > nav {
    margin-bottom: 34.2px !important;
  }
}

body > ol > li {
  margin-left: 18px !important;
}

body > ol > li > * {
  display: inline;
}

@media screen and (max-width: 1000px) {
  body > ol > li {
    list-style: inside;
  }
}

body > ul > li {
  margin-left: 18px !important;
}

body > ul > li > * {
  display: inline;
}

@media screen and (max-width: 1000px) {
  body > ul > li {
    list-style: inside;
  }
}

body > img {
  max-width: 40% !important;
  max-width: 100%;
  min-width: 100%;
  padding: 0;
}

/* eve theme: Call me to include eve in your SASS projects.*/

/* adon theme: Call me to include adon in your SASS projects.*/

body > .adonStatus-disabled {
  background: #a9a9a9;
  border: 0;
  color: #d3d3d3;
}

body > .adonStatus-error {
  background: red;
  border: 0;
  color: #000;
}

body > .adonStatus-fixed {
  position: fixed;
}

body > .adonStatus-sticky {
  position: sticky;
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  body > .adonStatus-sticky {
    position: relative;
  }

  body > .adonStatus-fixed {
    position: relative;
  }
}

body > .adonToolBar {
  height: 48px !important;
  max-height: 48px !important;
  min-height: 48px !important;
  cursor: pointer;
  margin-top: 18px !important;
  margin-bottom: 0 !important;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  transition: all 600ms ease-in-out;
}

@media screen and (max-width: 1000px) {
  body > .adonToolBar {
    height: 32px !important;
    max-height: 32px !important;
    min-height: 32px !important;
    width: 32px !important;
    max-width: 32px !important;
    min-width: 32px !important;
    text-align: center !important;
  }
}

body > .adonToolBar.slavehidden {
  margin-top: 18px !important;
  background-color: #000 !important;
}

body > .adonToolSlave {
  margin-top: 0 !important;
  opacity: 1;
  transition: visibility 600ms linear 0s, all 600ms;
  visibility: visible;
}

body > .adonToolSlave.slavehidden {
  height: 0 !important;
  max-height: 0 !important;
  min-height: 0 !important;
  opacity: 0;
  overflow: hidden;
  padding: 0 0  !important;
  line-height: 0;
  transition: visibility 0s linear 600ms, all 0s;
  transition-timing-function: ease;
  visibility: hidden;
}

body > address.adonToolBar,
body > blockquote.adonToolBar {
  text-align: right !important;
}

@media screen and (max-width: 1000px) {
  body > address.adonToolBar,
  body > blockquote.adonToolBar {
    float: right !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 1000px) {
  body > .adonHideOnScrollDown {
    transition: all 600ms;
    transition-timing-function: ease-in;
    -webkit-transition: all 600ms;
    -webkit-transition-timing-function: ease-in;
  }

  body > .adonHideOnScrollDown.adonHide {
    top: -500px;
  }
}

body > .adonNavScrollLink {
  cursor: pointer !important;
}

body > .adonNavScrollLink.adonnavactive {
  background-color: #000 !important;
  color: #fff;
}

/* innocent theme: Call me to include innocent in your SASS projects.*/

body {
  font: 100%/1.5 "Montserrat";
}

menu {
  box-sizing: border-box;
  position: relative;
}

menu:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  width: 0;
}

menu * {
  box-sizing: border-box;
}

menu a {
  text-decoration: none;
}

menu label {
  font-weight: bold;
}

menu a,
menu label {
  cursor: pointer;
  display: block;
  padding: 6px 18px;
  white-space: nowrap;
}

menu a img,
menu label img {
  height: 50px;
  width: auto !important;
}

menu menu,
menu nav {
  margin: 0;
  padding: 0 18px;
}

menu > menu > menu,
menu > nav > nav {
  display: none;
  visibility: hidden;
}

menu > menu:hover > menu,
menu > nav:hover > nav {
  max-height: 700px;
  opacity: 1;
  display: block;
  visibility: visible;
}

menu > a,
menu > menu,
menu > nav {
  float: left;
}

menu menu:hover > label + menu,
menu menu:hover > label + nav,
menu nav:hover > label + menu,
menu nav:hover > label + nav {
  position: absolute;
}

nav {
  box-sizing: border-box;
}

nav:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  width: 0;
}

nav * {
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  display: block;
}

nav label {
  font-weight: bold;
}

nav a,
nav label {
  cursor: pointer;
  display: block;
  padding-right: 25px !important;
  white-space: nowrap;
}

nav menu,
nav nav {
  margin: 0;
  padding: 0;
  position: relative;
}

nav > menu > menu,
nav > nav > nav {
  display: none;
  visibility: hidden;
}

nav > menu:hover > menu,
nav > nav:hover > nav {
  max-height: 700px;
  opacity: 1;
  display: block;
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

details {
  background: #999;
  border: #fff 1px solid;
  color: #000;
  padding: 0;
}

details summary {
  background: #fff;
  border: 0;
  color: #fff;
  font-family: "Montserrat";
  cursor: pointer;
}

details > * {
  padding: 6px 18px;
}

dl {
  padding: 18px 0;
}

dl > dt {
  background: #999;
  color: #000;
  font-size: 140%;
  font-weight: bold;
  margin: 0;
  padding: 6px;
}

dl > dd {
  margin: 18px;
}

figure {
  border: 1px #4d4d4d solid;
  box-sizing: border-box;
  padding: 18px 18px  !important;
}

figure figcaption {
  color: #000;
  font-family: "Montserrat";
  margin-top: 18px;
}

@media screen and (max-width: 800px) {
  figure {
    margin-left: 2% !important;
    margin-right: 2% !important;
  }
}

form label {
  margin-top: 18px;
}

form legend {
  font-size: 140%;
  font-weight: bold;
  margin-bottom: 2%;
  margin-top: 2%;
}

form label,
form legend {
  color: #000;
  font-family: "Montserrat";
}

form textarea {
  width: 100%;
}

form input[type=checkbox],
form input[type=radio] {
  margin-right: 6px;
}

form input[type=checkbox] + label,
form input[type=radio] + label {
  color: #000;
  font-family: "Montserrat";
  display: inline-block;
  margin-right: 18px;
  page-break-before: avoid;
}

form fieldset {
  border: 1px #4d4d4d solid;
  margin-top: 18px;
  padding: 0 18px;
}

form fieldset label {
  display: block;
}

form fieldset button,
form fieldset input,
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  margin-bottom: 18px;
}

form fieldset input[type=email],
form fieldset input[type=number],
form fieldset input[type=password],
form fieldset input[type=search],
form fieldset input[type=tel],
form fieldset input[type=text],
form fieldset input[type=url],
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  padding: 6px;
  width: 100%;
}

form fieldset input:not([type]) {
  box-sizing: border-box;
  padding: 6px;
  width: 100%;
}

form fieldset input[type=color],
form fieldset input[type=range] {
  display: inline-block;
  margin-bottom: 18px;
  vertical-align: middle;
}

form fieldset input[type=date],
form fieldset input[type=time],
form fieldset input[type=datetime],
form fieldset input[type=datetime-local],
form fieldset input[type=month],
form fieldset input[type=week] {
  margin-bottom: 18px;
}

form fieldset button,
form fieldset input[type=submit],
form fieldset input[type=reset] {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  form {
    margin-left: 2% !important;
    margin-right: 2% !important;
  }
}

header {
  font-size: 140%;
  padding: 2%;
  text-align: center;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  margin-bottom: 18px;
  margin-top: 18px;
}

hr {
  border: 1px #4d4d4d solid;
  margin-bottom: 18px;
  margin-top: 18px;
}

img {
  height: auto;
}

@media screen and (max-width: 1000px) {
  img {
    padding: 6px 6px  !important;
  }
}

figure img {
  box-sizing: border-box;
  margin: 0 0  !important;
  padding: 0 0  !important;
  width: 100%;
}

pre {
  background: #999;
  border: 0;
  color: #000;
  overflow-x: scroll;
  margin-top: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  white-space: pre;
  word-break: keep-all;
}

@media screen and (max-width: 800px) {
  pre {
    margin-left: 2% !important;
    margin-right: 2% !important;
    width: 96% !important;
  }
}

table {
  display: table !important;
  text-align: left;
}

table td,
table th {
  padding: 6px 18px;
}

table > thead th,
table > tfoot th,
table > tbody th {
  color: #000;
  font-family: "Montserrat";
  font-weight: 800;
}

table > thead th {
  border-bottom: 1px solid #4d4d4d;
}

table > tfoot th {
  border-top: 1px solid #4d4d4d;
  text-align: right;
}

table > tbody td,
table > tbody th {
  border-bottom: 1px solid #4d4d4d;
}

@media screen and (max-width: 800px) {
  table {
    margin-left: 2% !important;
    margin-right: 2% !important;
  }
}

a {
  text-decoration: none;
}

big {
  font-size: 140%;
}

input[type=file],
button {
  background: #fff;
  color: #000;
  border-radius: 5px;
  border: 1px #4d4d4d solid;
  cursor: pointer;
  display: inline-block;
  font-size: 140%;
  padding: 6px 18px;
  text-decoration: none;
}

input[type=file] > img,
button > img {
  max-height: 88px;
  height: auto;
}

input[type=file]:hover,
input[type=file].selected,
input[type=file].active,
button:hover,
button.selected,
button.active {
  background: #000;
  border: 1px #4d4d4d solid;
  color: #fff;
}

input[type=file]:disabled,
button:disabled {
  background: #000;
  border: 0;
  color: #fff;
  cursor: not-allowed;
}

input[type=file] big,
button big {
  font-weight: bold;
  vertical-align: middle;
}

code {
  background: rgba(153, 153, 153, 0.3);
  border: 0;
  color: #000;
  padding: 0 6px;
  word-break: keep-all;
}

pre > code {
  background: inherit;
  border: 0;
  color: inherit;
  overflow-x: scroll;
  white-space: pre;
}

kbd {
  background: #000;
  border: 0;
  color: #fff;
  border-radius: 12px;
  padding: 6px 18px;
}

small {
  font-size: 140%;
}

body small {
  font-size: 80%;
}

body code {
  background: #999;
  border: 0;
  color: #000;
  padding: 0 6px;
  word-break: keep-all;
}

body > h1,
body > h2,
body > h3,
body > h4,
body > h5,
body > h6 {
  font-family: "Montserrat";
}

body > address {
  background: #000;
  border: 0;
  color: #fff;
  font-size: 140%;
  font-style: normal;
  font-weight: bold;
}

body > article {
  margin-top: 18px;
  padding: 0;
}

body > article a {
  border: 1px #4d4d4d solid;
  border-radius: 18px;
  align-items: top;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px;
}

body > article a:hover {
  color: #fff;
  background: #000;
}

body > article a img {
  height: 100px;
  width: auto;
  flex-grow: 0;
}

body > article a div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 6px;
}

body > article a div h4 {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 140%;
  font-style: normal;
  font-weight: bold;
}

body > article a div p {
  border: none;
  margin: 0;
  padding: 0;
}

body > article a div p a {
  float: right;
}

body > aside {
  background: #999;
  border: 0;
  color: #000;
  font-size: 100%;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

body > aside dl {
  padding: 0;
  margin: 0;
}

body > aside dl dd {
  font-size: 70%;
  margin: 0;
  padding: 6px 6px 6px 22px;
  text-indent: -22px;
}

body > aside dl dt {
  padding: 0;
  margin: 0;
}

@media (max-width: 800px) {
  body > aside {
    font-size: 140%;
  }
}

body > blockquote {
  background: #000;
  color: #fff;
  quotes: "“" "”" "‘" "’";
  padding-top: 25px !important;
  padding-bottom: 100px !important;
  border: 0 !important;
  font-size: 140%;
}

body > blockquote:before {
  content: open-quote;
  color: #fff;
  display: inline;
  font-size: 200px;
  height: 0;
  left: 2%;
  line-height: 0;
  position: relative;
  top: 66.6666666667px;
}

body > blockquote::after {
  content: close-quote;
  color: #fff;
  display: inline;
  float: right;
  font-size: 200px;
  height: 0;
  line-height: 0;
  position: relative;
  right: 2%;
  top: 66.6666666667px;
}

body > blockquote a {
  font-style: italic;
}

@media (max-width: 800px) {
  body > blockquote {
    width: 100% !important;
  }
}

body > blockquote strong {
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
  display: block;
  margin-top: 18px;
  padding-right: 2%;
}

body > figure {
  border: 0;
}

body > figure > img {
  height: auto;
  width: 100% !important;
}

body > footer {
  border: none;
  border-top: 2px solid #000;
  font-size: 0.75rem;
  margin-top: 2%;
  padding: 2%;
  text-align: center;
}

body > footer img {
  height: auto;
  max-width: 100%;
}

body > footer label {
  white-space: nowrap;
}

body > pre {
  background: #999;
  border: 0;
  color: #000;
}

body > button {
  margin-top: 6px;
  padding: 6px;
  width: 40%;
}

body > button:hover a {
  color: #fff !important;
}

body > button > img {
  width: 100%;
  height: auto;
}

body > h1 sup img {
  max-width: 48px;
  min-width: 48px;
}

body > header {
  border: none;
  margin: 0;
  padding: 0;
}

body > header img {
  height: auto;
  width: 100%;
}

body > menu {
  background: #000;
  border: 0;
  color: #999;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  position: sticky;
  position: -webkit-sticky;
  padding-left: 0;
  top: 0;
  z-index: 5000;
  flex: initial;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

body > menu:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  width: 0;
}

body > menu * {
  box-sizing: border-box;
}

body > menu a {
  text-decoration: none;
}

body > menu label {
  font-weight: bold;
}

body > menu a,
body > menu label {
  cursor: pointer;
  display: block;
  padding: 12px 25px  12px 12px !important;
  white-space: nowrap;
  color: #999;
  border-radius: 6px;
}

body > menu a img,
body > menu label img {
  height: 48px;
  width: auto !important;
}

body > menu menu,
body > menu nav {
  margin: 0;
  padding: 0 12px;
}

body > menu > menu > menu,
body > menu > nav > nav {
  display: none;
  visibility: hidden;
}

body > menu > menu:hover > menu,
body > menu > nav:hover > nav {
  max-height: 700px;
  opacity: 1;
  display: block;
  visibility: visible;
}

body > menu a,
body > menu nav {
  flex-grow: 0;
}

body > menu a:hover,
body > menu label:hover {
  background-color: #fff;
  color: #000;
}

body > menu a[active],
body > menu label[active] {
  background-color: #fff;
  color: #000;
}

body > menu > nav > a,
body > menu > nav > label {
  border-radius: 0;
}

body > menu nav > nav {
  background: #000;
  border: 0;
  color: #999;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-top: 18px;
}

body > menu nav > nav a,
body > menu nav > nav label {
  margin: 6px;
  padding: 18px;
}

@media screen and (max-width: 800px) {
  body > menu {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  body > menu nav > nav,
  body > menu menu > menu {
    padding: 6px;
  }

  body > menu nav > nav a,
  body > menu nav > nav label,
  body > menu menu > menu a,
  body > menu menu > menu label {
    font-size: 0rem !important;
    height: 0 !important;
    margin: 0 0  !important;
    padding: 0 0  !important;
    overflow: hidden;
  }

  body > menu > nav:hover > nav,
  body > menu > menu:hover > menu {
    border: 1px #4d4d4d solid;
    border-radius: 0 0 6px 6px;
    border-top: 0;
    z-index: 100000;
  }

  body > menu > nav:hover > nav img,
  body > menu > menu:hover > menu img {
    max-height: 36px;
  }

  body > menu > nav:hover > nav a,
  body > menu > nav:hover > nav label,
  body > menu > menu:hover > menu a,
  body > menu > menu:hover > menu label {
    font-size: 0.9rem !important;
    height: auto !important;
    margin: 6px 6px  !important;
    padding: 6px 6px  !important;
  }

  body > menu > a {
    flex-grow: 2;
    padding: 6px;
  }
}

body > section {
  background: #999;
  border: 0;
  color: #000;
  align-items: stretch;
  box-sizing: border-box !important;
  display: flex;
  flex: initial;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  text-align: center;
  width: 100%;
}

body > section > figure {
  background: #fff;
  color: #000;
  border: 1px #4d4d4d solid;
  border-radius: 18px;
  box-sizing: border-box !important;
  margin: 18px;
  padding: 18px;
  width: 27%;
}

body > section > figure p img {
  width: auto;
  height: auto;
}

body > section > figure p button {
  font-weight: bold;
}

body > section > figure > img {
  width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  body > section {
    align-items: center;
    flex-direction: column;
  }

  body > section figure {
    width: 90%;
  }
}

@media (max-width: 800px) {
  body > img {
    visibility: hidden;
    display: none;
  }
}
/*# sourceMappingURL=rei.css.map */
